<!--
  Generated template for the Acerca page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Acerca</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h1 class="titulo">EAG</h1>
  <p class="texto">Aplicación creada con los conocimientos adquiridos en las practicas realizadas en iwOS con la aplicación de Ionic, formado en la Escuela Arte Granada</p>

  <ion-slides spaceBetween="10" pager>
    <ion-slide>
      <img src="assets/images/curso-cover.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/eag-calle.gif" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/eag-clase.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <div ion-col col-6 icon-left text-center class="btnYoutube">
      <ion-icon name="logo-youtube" class="icono"></ion-icon>
      <a href="https://www.youtube.com/user/EscuelaArteGranada" class="enlace">Youtube</a>
    </div>
    
    <div ion-col col-6 icon-left text-center class="btnFacebook">
      <ion-icon name="logo-facebook" class="icono"></ion-icon>
      <a href="https://es-es.facebook.com/escuelaartegranada/" class="enlace">Facebook</a>
    </div>
  </ion-row>
</ion-content>
