page-acerca {

  ion-slides {
    height: auto;
  }

  .btnYoutube{
    background-color: #f53d3d;
    padding: 12px 5px;
  }

  .btnFacebook{
      background-color: #387ef5;
      padding: 15px 5px;
      
  }

  .icono{
      color: white;
      position: relative;
      left: -10%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .enlace{
      padding: 20px 0;
      font-size: 1.2em;
      text-decoration: none;
      color: white;
      position: absolute;
      left: 59%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

}
