<!--
  Generated template for the Contacto page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form ion-grid fixed>
    <p>Si quieres contactar conmigo puedes hacerlo desde aquí.</p>
    <ion-list ion-row>
      <ion-item ion-col col-12 col-sm-6>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" name="deezerID" clearInput="true" required></ion-input>
      </ion-item>

      <ion-item  ion-col col-12 col-sm-6>
        <ion-label floating>Correo</ion-label>
        <ion-input type="email" name="email" clearInput="true"></ion-input>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label floating>Comentario</ion-label>
        <ion-textarea name="comentario"></ion-textarea>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label>No Soy un robot</ion-label>
        <ion-checkbox required></ion-checkbox>
      </ion-item>
    </ion-list>

    <div ion-col col-12 margin text-center>
      <button type="submit" ion-button icon-left (click)="enviar()">
        <ion-icon name="send"></ion-icon>
        Enviar
      </button>
    </div>
  </form>



</ion-content>
