<ion-header>
  <ion-navbar color="danger">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Playlist Search
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-item>
    <ion-label stacked>Channel ID</ion-label>
    <ion-input type="text" [(ngModel)]="channelId"></ion-input>
  </ion-item>
  <button full ion-button (click)="searchPlaylists()" [disabled]="channelId === ''" color="danger">Search Playlists</button>
 
  <ion-list no-padding>
    <button ion-item *ngFor="let list of playlists | async" (click)="openPlaylist(list.id)">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
            <ion-thumbnail item-start>
              <img [src]="list.snippet.thumbnails.standard.url">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-9 class="columnaTexto">
            <h2>{{ list.snippet.title }}</h2>
            <p>{{ list.snippet.publishedAt | date:'short' }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </button>
      
    
    
  </ion-list>
</ion-content>




