<ion-header>
  <ion-navbar color="spotify-green">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Top 50 Mundial</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  
  <ion-list>

    <ion-item *ngFor="let c of canciones">
      <ion-grid>
          <ion-row>
            <ion-col col-2>
                <ion-thumbnail item-start>
                  <h1>{{ c.Position }}</h1>
                </ion-thumbnail>
            </ion-col>
            <ion-col col-7>
                <h2>{{ c.Cancion }}</h2>
                <h3> {{ c.Artist }}</h3>
                <p>{{ c.Streams }} reproducciones</p>
            </ion-col>
            <ion-col col-3>
                <button ion-button clear item-end (click)="openSong(c.URL)">Abrir</button> 
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>