
    <ion-range [(ngModel)]="volumen" (ionChange)="onRangeChange($event)" min="0" max="100" color="primary">
      <ion-icon *ngIf="!volumen" small range-left name="volume-off"></ion-icon>
      <ion-icon *ngIf="volumen" small range-left name="volume-down"></ion-icon>
      <ion-icon small range-right name="volume-up"></ion-icon>
    </ion-range>
