
<ion-menu [content]="NAV">
  <ion-content>
    <img src="assets/images/cover.jpg" alt="">
    <ion-list>
      <!--<button ion-item *ngFor="let page of pages" (click)="goToPage(page.component)" menuClose>
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.titulo }}
      </button>-->
      <button ion-item (click)="goToInicio()" menuClose>
        <ion-icon name="home" class="icono"></ion-icon>
        Inicio
      </button>

      <button ion-item (click)="goToPerfilesDeezer()" menuClose>
          <ion-icon name="person" class="icono"></ion-icon>
        Perfiles Deezer
      </button>

      <button ion-item (click)="goToYoutube()"  menuClose>
          <ion-icon name="logo-youtube" class="icono"></ion-icon>
        Youtube
      </button>

      <button ion-item (click)="goToSpotify()" menuClose>
        <img src="assets/images/spotify-24.png" class="icono">
        Spotify
      </button>

      <button ion-item (click)="goToContacto()" menuClose>
        <ion-icon name="mail" class="icono"></ion-icon>
        Contacto
      </button>

      <button ion-item (click)="goToAcerca()" menuClose>
        <ion-icon name="information-circle" class="icono"></ion-icon>
        Acerca de
      </button>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>
