<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img src="assets/images/curso-cover.jpg" alt="">

  <h1 class="titulo">Proyecto final</h1>
  <p class="texto"></p>

  <ion-row>

    <div ion-col col-6 icon-left text-center class="btnYoutube">
      <ion-icon name="logo-youtube" class="icono"></ion-icon>
      <a href="https://www.youtube.com/user/EscuelaArteGranada" class="enlace">Youtube</a>
    </div>

    <div ion-col col-6 icon-left text-center class="btnGit">
      <ion-icon name="logo-github" class="icono"></ion-icon>
      <a href="https://bitbucket.org/idanipb/proyectofinalapp/src/master/" class="enlace">BitBucket</a>
    </div>

  </ion-row>
</ion-content>
