page-inicio {

    .btnYoutube{
        background-color: #f53d3d;
        padding: 12px 5px;
    }

    .btnGit{
        background-color: black;
        padding: 12px 5px;
        
    }

    .icono{
        color: white;
        position: relative;
        left: -10%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .enlace{
        padding: 20px 0;
        font-size: 1.2em;
        text-decoration: none;
        color: white;
        position: absolute;
        left: 62%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}
