<ion-header>
  <ion-navbar color="danger">
    <ion-title>Playlist</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let video of videos | async" (click)="openVideo(video)" detail-none>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
                <ion-thumbnail item-start>
                  <img [src]="video.snippet.thumbnails.standard.url">
                </ion-thumbnail>
            </ion-col>
            <ion-col col-9 class="columnaTexto">
                <h2>{{ video.snippet.title }}</h2>
                <p>{{ video.snippet.description }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </button>
  </ion-list>
</ion-content>